.master {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 28%;
}

.card {
    top: 15%;
    bottom: 0%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    width: 200px;
    height: 260px;
    display: inline-block;
    margin: 20px;
    margin-bottom: 70px;
}

.picture {
    border-radius: 50%;
    border: 6px solid #FFFFFF;
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: -20%;
}

.picture img {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: auto;
    display: block;
    text-align: center;
}

h2 {
    position: relative;
    top: -12%;
    font-size: 21px;
}

select#filtro {
    position: fixed;
    top: 11%;
    width: 16%;
    left: 2%;
}